<!--<div class="thumbnail shopItemHeight" parent-scope="item">-->
    <!--<img class="shopImage" src="images/{{item.picture}}.jpg" alt="">-->
    <!--<div class="caption">-->
        <!--<h4 class="pull-right">${{item.price}}</h4>-->
        <!--<h4>Price</h4>-->
        <!--<p class="pull-right"><strong>{{item.rank}}</strong></p>-->
        <!--<h4>Rank:</h4>-->


        <!--<p class="pull-right">-->
            <!--<strong>{{item.level}}</strong>-->
        <!--</p>-->
        <!--<h4>Level</h4>-->
        <!--<button class="btn btn-primary  col-md-3" ng-click="buyItem(item)">Buy</button>-->
    <!--</div>-->

<!--</div>-->