<div class="statisticWrapper">
    <div class="col-md-8 col-md-offset-2">
    
	<div style="margin-top: 20px;">
		<h5 class="invisible">MyAccount</h5>
        <h1>Statistic</h1>
    </div>

        <table class="table tableStyle tableStats">
            <thead>
            <tr>
                <th>Picture</th>
                <th>User name</th>
                <th> <a ng-click = "orderByBestScore()" style="cursor:pointer">Best score</a></th>
                <th> <a ng-click = "orderByGames()" style="cursor:pointer">Games </a></th>
                <th> <a ng-click = "orderByStars()" style="cursor:pointer">Stars </a></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="user in users | startFrom:nextPageUsers | limitTo:7">

                <td><a href="#/users/{{user.id}}"><img src="drashoAll/app/images/{{user.item_picture}}.png" width="35px" height="30"></a></td>
                <td><a href="#/users/{{user.id}}">{{user.name}}</a></td>
                <td>{{user.best_score}}</td>
               
                <td>{{user.games_played}}</td>
                <td>{{user.stars_collected}}</td>
            </tr>
            </tbody>

        </table>
        <div class="forPagination">

            <uib-pagination total-items="totalItems"
                            ng-model="currentPage"
                            ng-change="pageChanged()">
            </uib-pagination>

        </div>
    </div>

</div>


