<div class="mainPageWrapper">
	<div class="col-lg-6 col-lg-offset-3  fond">
	    
	    	<div class='col-md-5 col-xs-12 mainMenuItem style_prevu_kit'>
	    		<a href="#/game"> GAME </a>
	    	</div>
	  		
	  		<div class='col-md-5 col-xs-12 mainMenuItem style_prevu_kit'>
	    		<a href="#/game"> GAME </a>
	    	</div>
	  		
	  		<div class='col-md-5 col-xs-12 mainMenuItem style_prevu_kit'>
	    		<a href="#/game"> GAME </a>
	    	</div>
	    	
	    	<div class='col-md-5 col-xs-12 mainMenuItem style_prevu_kit'>
	    		<div class='shopBg'>
	    			<a href="#/game"></a>
	    		</div>
	    	</div>
	    	
	    </div>
</div>