<div class='profileWarapper'>

	<div >
		
		
	</div>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="col-xs-12
                			col-sm-12 
                			col-md-6 
                			col-lg-8 
                			col-xs-offset-0
                			col-sm-offset-0 
                			col-md-offset-3 
                			col-lg-offset-2 toppad" >

					<div class="titleWrapper">
						<h1 style="color:white; text-align: center;"><i>User information</i></h1>
					</div>
                    <div class="panel panel-info">
                        <div class="user_form_header">
                            <h2 class="panel-title headerFont">{{user.name}}</h2>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center">
                                    <img alt="User Pic"
                                   
                                         src="drashoAll/app/images/{{user.item_picture}}.png"
                                         class="img-circle img-responsive">
                                </div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                       
                                        <tr>
                                            <td><strong>Best Score:</strong></td>
                                            <td>{{user.best_score}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Games:</strong></td>
                                            <td>{{user.games_played}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>stars:</strong></td>
                                            <td>{{user.stars_collected}}</td>
                                        </tr>
                                       

                                        <tr>
                                            <td><strong>Money</strong></td>
                                            <td>{{user.points}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Email</strong></td>
                                            <td>{{user.email}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" >
                            <div class="">
                            	<select class= "selectpicker" ng-model="stars">
                            		<option value="10" selected="selected">10</option>
                            		<option value="25">25</option>
                            		<option value="50">50</option>
                           	 	</select>
                           	 	<button class="btn btn-success"
                           	 			ng-disabled='voteButton'
                           	 	 		ng-click = "addStarsToUser()">Rate user</button>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>

            <form ng-show="showMsg"
                  class="col-xs-12 col-sm-12
                            col-md-6 col-lg-6
                            col-xs-offset-0
                            col-sm-offset-0
                            col-md-offset-3
                            col-lg-offset-3
                            toppad">
                <div class="form-group">
                    <label for="message-text" class="control-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

