<div class="mainPageWrapper">
	<div class="col-lg-6 col-lg-offset-3 fond mainPageMargin">
	   	 	<a href="#/game">
	    		<div class='col-md-5 col-xs-12 mainMenuItem style_prevu_kit'>
	    			  <div class='to_game'>
	    			
	    			  </div>
	    		</div>
	    	</a>
	  		<a href="#/game">
	  			<div class='col-md-5 col-xs-12 mainMenuItem style_prevu_kit'>
	    		   <div class='shopBg'>
	    			
	    		  </div>
	    		</div>
	  		</a>
	  		<a href="#/game">
	  			<div class='col-md-5 col-xs-12 mainMenuItem style_prevu_kit'>
	    		  <div class='stats'>
	    			
	    		  </div>
	    		</div>
	    	</a>
	    	<a href="#/game">
	    	<div class='col-md-5 col-xs-12 mainMenuItem style_prevu_kit'>
	    		<div class='myprofile'>
	    			
	    		</div>
	    	</div>
	    	</a>
	    	
	    </div>
</div>