<div class="statisticWrapper">
    <div class="col-md-8 col-md-offset-2">

        <h1>Statistic</h1>

        <table class="table tableStyle">
            <thead>
            <tr>
                <th>Picture</th>
                <th>User name</th>
                <th> <a ng-click = "orderByBestScore()">Best score</a></th>
                <th> <a ng-click = "orderByGames()">Games </a></th>
                <th> <a ng-click = "orderByStars()">Stars </a></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="user in users">

                <td><a href="#/users/{{user.id}}"><img src="drashoAll/app/images/{{user.item_picture}}.png" width="35px" height="30"></a></td>
                <td><a href="#/users/{{user.id}}">{{user.name}}</a></td>
                <td>{{user.best_score}}</td>
               
                <td>{{user.games_played}}</td>
                <td>{{user.stars_collected}}</td>
            </tr>
            </tbody>

        </table>
        <!-- <div class="" style="text-align: center">

            <uib-pagination total-items="totalItems"
                            ng-model="currentPage"
                            ng-change="pageChanged()">
            </uib-pagination>

        </div> -->
    </div>

</div>


