<section id="home" class="home">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="center-main">
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <h1>Have a great time with eagleVSall and don't forget</h1>
                            <p class="subtitle">All birds must die!</p>

                            <div class="home_btn">
                                <button class="btnStart" ng-click="getStarted()">Get started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>+