<div class="mainPageWrapper" style="background-color: #171B23">
	<div class="row row-centered">
	
		<div class="col-lg-10 col-md-10 
					col-md-offset-1
					col-lg-offset-1 
					fond mainPageMargin">
		<div class="row">
	   	 	<a href="#/game">
	    		<div class='col-lg-3 
	    					col-md-3
	    					col-xs-6
	    					mainMenuItem 
	    					style_prevu_kit'>
	    			  <div class='to_game'>
	    			
	    			  </div>
	    		</div>
	    	</a>
	  		<a href="#/shop">
	  			<div class='col-lg-3 
	    					col-md-3
	    					col-xs-6 
	    					mainMenuItem 
	    					style_prevu_kit'>
	    		   <div class='shopBg'>
	    				
	    		  </div>
	    		</div>
	  		</a>
	  		<a href="#/statistic">
	  			<div class='col-lg-3 
	    					col-md-3
	    					col-xs-6
	    					mainMenuItem 
	    					style_prevu_kit'>
	    		  <div class='stats'>
	    			
	    		  </div>
	    		</div>
	    	</a>
	    	<a href="#/myAccount">
	    	<div class='col-lg-3
	    				col-md-3
	    				col-xs-6 
	    				mainMenuItem 
	    				style_prevu_kit'>
	    		<div class='myprofile'>
	    			
	    		</div>
	    	</div>
	    	</a>
	    	
	    </div>
	</div>
	
	
</div>