
/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    /*background-color: black;*/
    font-size: 1rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'latoregular';
    font-weight: 300;
}


h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 5.5rem;
    color:#fff;
}
h2 {
    font-size:2.5rem;
    line-height: 3rem;
    margin-bottom: 35px;
    font-family: 'latobold';
}
h3 {
    font-size:1.25rem;
    line-height: 2.5rem;
    margin-bottom:20px;
    font-family: 'latobold';
}
h4 {
    font-size: 2.0625rem;
    line-height: 2.2rem;
    margin-bottom: 2.5rem;
}

.subtitle{
    margin-top: 10px;
    font-size: 1.6rem;
}

/*
Section
*/
.sections {
    padding-top:85px;
    padding-bottom: 105px;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
.parallax-section {
    max-width: 100%;
    color: #000;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.overlay {

    width: 100%;
    height: 750px;
}

.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}


.btn-md{
    border:1px solid #fff;
    color:#fff;
}

.main_menu_bg .navbar-default {
	width: 100%;
	margin: 0 auto;
    background:rgba(0,77,153,0.5);
    border-color: transparent; 
    transition: all .6s;

}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#000;
    font-weight: bold;
}
.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #000;
    background: transparent;
    font-weight: bold;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #000000;
}

/*home section*/
.home{
    background: url(../../images/eagle-wallpapers-hd.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;


}



.home .main_home p.subtitle{
    color: #fff;
    padding-bottom: 25px;
    font-family: 'latolight';
    font-size:2.0625rem;
	line-height:3rem;
}

.home .owl-theme .owl-nav {
    margin-top: 80px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

/*footer section*/
.footer{
    background: #1f1f1f;
    height: 85px;
   
}
.copyright_text p{
	padding-top: 22px;
    color:#aaa79e;
    font-size:0.8125rem;
    line-height: 25px;
    
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#fff;
}

.footer_socail{
    padding:40px; 
    text-align: right;
}
.footer_socail a i{
    font-size:0.8125rem;
    color:#fff;
    padding: 0px 10px;
}

/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #503392;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}

.btnStart {
    display: inline-block;
    min-width: 190px;
    padding: .4em;
    height: 50px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    font-size: 25px;
    border-radius: 12px;
    margin-top: 20px;
    transition: .5s; 
    border: 1px solid white;

}
.btnStart:hover {
	background-color: darkgreen;
    color: white;
    text-decoration: none;
}

.navbar-brand>img {
	position: absolute;
	right: 1120px;
	top: -18px;
    max-width: 10%;
}

.center-main {
	text-align: center;
}

.navbar{
	width:100%;
	position: absolute;
    min-height: 0px;
    margin-bottom: 0px;
    border: 0px solid transparent;
}
.navWidth{
	width:100%
}
.mainPageWrapper{
	background-image: url(../../images/game2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.mainMenuItem{
	display:inline-block;
	
	border-radius: 30px;
	height: 190px;
	
	background-color: rgba(255,255,255, 0);
}
.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;}

.style_prevu_kit
{
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    /* box-shadow: 0px 0px 150px #000000; */
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}
.shopBg{
	background: url('../../images/shop/mouseworld_08.jpg') no-repeat;
	opacity: 0.8;
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.myprofile{
	background: url('../../images/user/user3.jpg') no-repeat center;
	opacity: 0.8;
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.to_game{
	background: url('../../images/game/season4.jpg') no-repeat center;
	opacity: 0.8;
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.stats{
	background: url('../../images/stats/st2.png') no-repeat;
	opacity: 0.8;
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 30px;
}


.mainPageWrapper {

}

.profileWarapper {
	background-image: url("../../images/bald_eagle_flying-wallpaper-1366x768.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.user_form_header {
	background: rgb(203,203,180);
	text-align: center;
}
.headerFont{
	font-size: 1.6em;
}

.invisible {
	color:white; 
	text-align: center;
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    color: rgb(255, 128, 128) ;
}

input[type="text"]
{
    background-color: rgba(255,255,255, 0.85);
}

input[type="password"]
{
    background-color: rgba(255,255,255, 0.85);
}

.tableStats {
	font-size: 1.05em;
	margin-top: -25px;
}

.formMargin {
	margin-top: 70px;
	background: rgba(72,44,32,0.3);;
	border: 2px solid rgba(205,175,162, 0.5);
}

.reg_login_wrapper {
	background-image: url("../../images/ea43.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.formBG{
	background: rgba(242, 242, 242, 0.6);
}

.formHeader {
	font-size: 1.4em;
}

.mainPageMargin {
	margin-top: 140px;
}


.homeTextMargin {
	margin-top: 220px;
}
.titleWrapper{
	margin-top: 50px;	
}

.game{
	margin-top: 80px;
}


.forPagination {
	text-align: center;
	margin-top: 30px;
}


.gameWrapper {
	height: 100% !important;
}

#startGame {
	margin-top: -20px;
}






